@page "/"
@inject HttpClient Http

<PageTitle>Index | Ban Hub</PageTitle>

<MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true" Class="d-flex flex-column align-center">
    <MudText Align="Align.Center">You're accessing this site from a mobile. </MudText>
    <MudText Align="Align.Center">A lot of the pages have not yet been recreated for mobile views.</MudText>
    <MudText Align="Align.Center">Please view this on a desktop.</MudText>
</MudHidden>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <MudText Align="Align.Center" Typo="Typo.h3" GutterBottom="true">Welcome to Ban Hub!</MudText>
                <MudText Align="Align.Center" Class="mb-8">We provide a service which aims to clean up the state of 3rd party Call of Duty clients.</MudText>
                <br/>
                <MudDivider/>
                <br/>
                @if (!_penaltyTable.Any())
                {
                    <MudText Align="Align.Center" Typo="Typo.body2">There are no global bans...</MudText>
                }
                else
                {
                    <MudText Align="Align.Center" Typo="Typo.h6">Latest 3 global bans</MudText>
                    <br/>
                    <MudTable Dense="true" Items="@_penaltyTable" Hover="true" FixedHeader="true" Height="100%" T="PenaltyDto">
                        <HeaderContent>
                            <MudTh>Community</MudTh>
                            <MudTh>Target</MudTh>
                            <MudTh>Reason</MudTh>
                            <MudTh>When?</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Instance">@(context.Instance.InstanceName ?? context.Instance.InstanceGuid.ToString())</MudTd>
                            <MudTd DataLabel="Target">
                                <a href="/Players/@context.Target!.Identity">
                                    <MudText Typo="Typo.body2" Color="Color.Info">
                                        @context.Target!.Alias!.UserName
                                    </MudText>
                                </a>
                            </MudTd>
                            <MudTd DataLabel="Reason">@context.Reason</MudTd>
                            <MudTd DataLabel="When?">@context.Submitted.Humanize().Titleize()</MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudGrid Spacing="2" Justify="Justify.FlexStart">
                        <MudItem xs="12" sm="4" xl="3">
                            <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                <MudText Typo="Typo.subtitle1" Color="Color.Info">@_penalties</MudText>
                                <MudText Class="mud-text-secondary">Penalties</MudText>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="12" sm="4" xl="3">
                            <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                <MudText Typo="Typo.subtitle1" Color="Color.Info">@_entities</MudText>
                                <MudText Class="mud-text-secondary">Players</MudText>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="12" sm="4" xl="3">
                            <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                <MudText Typo="Typo.subtitle1" Color="Color.Info">@_instances</MudText>
                                <MudText Class="mud-text-secondary">Communities</MudText>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="12" sm="4" xl="3">
                            <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                <MudText Typo="Typo.subtitle1" Color="Color.Info">@_servers</MudText>
                                <MudText Class="mud-text-secondary">Servers</MudText>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="12" class="align-self-stretch">
                    <MudPaper Elevation="2" Class="pa-4 d-flex flex-column">
                        <MudText Typo="Typo.h6">Requirements for Activating Server for Read-Write Access to BanHub</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">&bull; <b>Daily Client Count:</b> Minimum of 750 unique clients seen daily.</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">&bull; <b>Minimum Clients:</b> Above 50,000 clients.</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">&bull; <b>Community Age:</b> Active for at least 3 months with no long periods of inactivity.</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">&bull; <b>Staff Presence:</b> Active staff presence. Responsible staff for global ban(s) to respond within reasonable period. (~3 working days)</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">&bull; <b>No Unjustified Bans:</b> Server must not be known for imposing bans on players without proper justification or in a discriminatory manner.</MudText>
                        <MudText Class="mt-2">If all of these requirements are met, the server will be deemed sufficiently established, well-managed, and dependable, making it eligible for read-write access to BanHub.</MudText>

                        <MudText Typo="Typo.h6" Class="my-2">Follow us</MudText>
                        <MudElement>
                            <MudChip Size="Size.Large" Icon="@Icons.Custom.Brands.Discord" Label="true" Color="Color.Primary">
                                <a href="https://discord.gg/39rMB7YE2R">Discord</a>
                            </MudChip>
                            <MudChip Size="Size.Large" Icon="@Icons.Custom.Brands.GitHub" Label="true" Color="Color.Info">
                                <a href="https://github.com/Ayymoss/BanHub">GitHub</a>
                            </MudChip>
                        </MudElement>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>


@code {

    private string? _instances;
    private string? _penalties;
    private string? _entities;
    private string? _servers;

    private List<PenaltyDto> _penaltyTable = new();

    protected override async Task OnInitializedAsync()
    {
        var penalty = await Http.GetFromJsonAsync<List<PenaltyDto>>("/api/Penalty/Index");
        if (penalty is not null) _penaltyTable = penalty;

        var statistic = await Http.GetFromJsonAsync<StatisticDto>("/api/Statistic");
        if (statistic is null) return;

        _entities = $"{statistic.EntityCount:N0}";
        _instances = $"{statistic.InstanceCount:N0}";
        _penalties = $"{statistic.PenaltyCount:N0}";
        _servers = $"{statistic.ServerCount:N0}";

        await base.OnInitializedAsync();
    }

}
