@page "/"
@inject HttpClient Http

<PageTitle>Index | Ban Hub</PageTitle>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <MudText Align="Align.Center" Typo="Typo.h3" GutterBottom="true">Welcome to Ban Hub!</MudText>
                <MudText Align="Align.Center" Class="mb-8">We provide a service which aims to clean up the state of 3rd party Call of Duty clients.</MudText>
                <br/>
                <MudDivider/>
                <br/>
                @if (!_penaltyTable.Any())
                {
                    <MudText Align="Align.Center" Typo="Typo.body2">There are no global bans...</MudText>
                }
                else
                {
                    <MudText Align="Align.Center" Typo="Typo.h6">Latest 3 global bans</MudText>
                    <br/>
                    <MudTable Dense="true" Items="@_penaltyTable" Hover="true" FixedHeader="true" Height="100%" T="PenaltyDto">
                        <HeaderContent>
                            <MudTh>Instance</MudTh>
                            <MudTh>Target</MudTh>
                            <MudTh>Reason</MudTh>
                            <MudTh>When?</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Instance">@(context.Instance.InstanceName ?? context.Instance.InstanceGuid.ToString())</MudTd>
                            <MudTd DataLabel="Target">
                                <a href="/Profile/@context.Target!.Identity">
                                    <MudText Typo="Typo.body2" Color="Color.Info">
                                        @context.Target!.Alias!.UserName
                                    </MudText>
                                </a>
                            </MudTd>
                            <MudTd DataLabel="Reason">@context.Reason</MudTd>
                            <MudTd DataLabel="When?">@context.Submitted.Humanize().Titleize()</MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                  
                        <MudGrid Spacing="2" Justify="Justify.Center">
                            <MudItem Class="flex-1">
                                <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Info">@_penalties</MudText>
                                    <MudText Class="mud-text-secondary">Penalties</MudText>
                                </MudPaper>
                            </MudItem>
                            <MudItem Class="flex-1">
                                <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Info">@_entities</MudText>
                                    <MudText Class="mud-text-secondary">Users</MudText>
                                </MudPaper>
                            </MudItem>
                            <MudItem Class="flex-1">
                                <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Info">@_instances</MudText>
                                    <MudText Class="mud-text-secondary">Instances</MudText>
                                </MudPaper>
                            </MudItem>
                            <MudItem Class="flex-1">
                                <MudPaper Class="d-flex justify-center flex-column align-self-center pa-6" Elevation="2">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Info">@_servers</MudText>
                                    <MudText Class="mud-text-secondary">Servers</MudText>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                        


                </MudItem>
                <MudItem xs="12" class="align-self-stretch">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                        <MudText Typo="Typo.h6" GutterBottom="true">Follow us</MudText>
                        <MudChip Size="Size.Large" Icon="@Icons.Custom.Brands.Discord" Label="true" Color="Color.Primary">
                            <a href="https://discord.gg/39rMB7YE2R">Discord</a>
                        </MudChip>
                        <MudChip Size="Size.Large" Icon="@Icons.Custom.Brands.GitHub" Label="true" Color="Color.Info">
                            <a href="https://github.com/Ayymoss/BanHub">GitHub</a>
                        </MudChip>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>


@code {

    private string? _instances;
    private string? _penalties;
    private string? _entities;
    private string? _servers;

    private List<PenaltyDto> _penaltyTable = new();

    protected override async Task OnInitializedAsync()
    {
        var penalty = await Http.GetFromJsonAsync<List<PenaltyDto>>("/api/v2/Penalty/Index");
        if (penalty is not null) _penaltyTable = penalty;

        var statistic = await Http.GetFromJsonAsync<StatisticDto>("/api/v2/Statistic");
        if (statistic is null) return;

        _entities = $"{statistic.EntityCount:N0}";
        _instances = $"{statistic.InstanceCount:N0}";
        _penalties = $"{statistic.PenaltyCount:N0}";
        _servers = $"{statistic.ServerCount:N0}";

        await base.OnInitializedAsync();
    }

}
