@page "/"
@using GlobalInfraction.WebCore.Shared.Models
@inject HttpClient Http

<OpenGraphComponent Title="Index" Description="Welcome to Global Infractions"/>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <MudText Align="Align.Center" Typo="Typo.h3" GutterBottom="true">Welcome to Global Infractions!</MudText>
                <MudText Align="Align.Center" Class="mb-8">We provide a service which aims to clean up the state of 3rd party Call of Duty clients.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                        <MudText Typo="Typo.h6" GutterBottom="true">Current Stats</MudText>
                        <MudList Dense="true">
                            <MudListItem Icon="@Icons.Filled.Report">Infractions: @(_infractions)</MudListItem>
                            <MudDivider DividerType="DividerType.Inset"/>
                            <MudListItem Icon="@Icons.Filled.Person">Users: @_entities</MudListItem>
                            <MudListItem Icon="@Icons.Filled.PersonAddAlt1">Alises: @(_aliases)</MudListItem>
                            <MudListItem Icon="@Icons.Filled.Storage">Instances: @_instances</MudListItem>
                            <MudListItem Icon="@Icons.Filled.List">Servers: @(_servers)</MudListItem>
                        </MudList>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                        <MudText Typo="Typo.h6" GutterBottom="true">Follow us</MudText>
                        <MudChip Size="Size.Large" Icon="@Icons.Custom.Brands.Discord" Label="true" Color="Color.Primary">
                            <a href="https://discord.gg/39rMB7YE2R">Discord</a>
                        </MudChip>
                        <MudChip Size="Size.Large" Icon="@Icons.Custom.Brands.GitHub" Label="true" Color="Color.Info">
                            <a href="https://github.com/Ayymoss/GlobalInfractions">GitHub</a>
                        </MudChip>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>


@code {

    string _instances;
    string _infractions;
    string _entities;
    string _aliases;
    string _servers;

    protected override async Task OnInitializedAsync()
    {
        var statistic = await Http.GetFromJsonAsync<StatisticDto>("/api/Statistic");
        if (statistic is null) return;

        _entities = $"{statistic.EntityCount:N0}";
        _instances = $"{statistic.InstanceCount:N0}";
        _infractions = $"{statistic.InfractionCount:N0}";
        _aliases = $"{statistic.AliasCount:N0}";
        _servers = $"{statistic.ServerCount:N0}";
    }

}
