@page "/Penalties"
@inject HttpClient Http

<PageTitle>Penalties | Ban Hub</PageTitle>

<MudPaper Elevation="2" Class="d-flex flex-row justify-space-between align-center pa-4 rounded-b-0">
    <MudText Typo="Typo.h4" Align="Align.Center" Class="mud-text-secondary">Penalties</MudText>
    <MudElement Class="ml-2 mt-0">
        <MudTextField T="string" ValueChanged="OnSearch" AutoFocus="false" Placeholder="Filter"
                      Variant="Variant.Outlined" Adornment="Adornment.End" Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.Search"
                      AdornmentColor="Color.Default"/>
    </MudElement>
</MudPaper>
<MudTable Striped="true" HeaderClass="mud-theme-info-darken" Outlined="false" Bordered="false"
          ServerData="@(new Func<TableState, Task<TableData<PenaltyDto>>>(ServerReload))" Elevation="2" RowsPerPage="20" Dense="true"
          Hover="true" @ref="_table">
    <HeaderContent>
        <MudTh Class="py-2">
            <MudTableSortLabel SortLabel="Id" T="PenaltyDto">ID</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Target Name" T="PenaltyDto">Target Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Admin Name" T="PenaltyDto">Admin Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Reason" T="PenaltyDto">Reason</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Type" T="PenaltyDto">Type</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Status" T="PenaltyDto">Status</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Scope" T="PenaltyDto">Scope</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Instance" T="PenaltyDto">Instance</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel InitialDirection="SortDirection.Descending" SortLabel="Submitted" T="PenaltyDto">Submitted</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ID">@context.PenaltyGuid</MudTd>
        <MudTd DataLabel="Target Name">
            <a href="/Players/@context.Target!.Identity">
                <MudText Typo="Typo.body2" Color="Color.Warning">
                    @context.Target!.Alias!.UserName
                </MudText>
            </a>
        </MudTd>
        <MudTd DataLabel="Admin Name">
            <a href="/Players/@context.Admin!.Identity">
                <MudText Typo="Typo.body2" Color="Color.Info">
                    @context.Admin!.Alias!.UserName
                </MudText>
            </a>
        </MudTd>
        <MudTd DataLabel="Reason">@context.Reason</MudTd>
        <MudTd DataLabel="Type">
            @switch (context.PenaltyType)
            {
                case PenaltyType.Warning:
                    <MudChip Variant="Variant.Text" Size="Size.Small">Warn</MudChip>
                    break;
                case PenaltyType.Mute:
                    <MudChip Variant="Variant.Text" Size="Size.Small">Mute</MudChip>
                    break;
                case PenaltyType.Kick:
                    <MudChip Variant="Variant.Text" Size="Size.Small">Kick</MudChip>
                    break;
                case PenaltyType.Unban:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Info">Unban</MudChip>
                    break;
                case PenaltyType.TempBan:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning">Tempban</MudChip>
                    break;
                case PenaltyType.Ban:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Error">Ban</MudChip>
                    break;
            }
        </MudTd>
        <MudTd DataLabel="Status">
            @switch (context.PenaltyStatus)
            {
                case PenaltyStatus.Informational:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Info">Informational</MudChip>
                    break;
                case PenaltyStatus.Active:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Success">Active</MudChip>
                    break;
                case PenaltyStatus.Revoked:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Info">Revoked</MudChip>
                    break;
                case PenaltyStatus.Expired:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Info">Expired</MudChip>
                    break;
            }
        </MudTd>
        <MudTd DataLabel="Scope">
            @switch (context.PenaltyScope)
            {
                case PenaltyScope.Local:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Info">Local</MudChip>
                    break;
                case PenaltyScope.Global:
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Error">Global</MudChip>
                    break;
            }
        </MudTd>
        <MudTd DataLabel="Instance">@(context.Instance!.InstanceName ?? context.Instance.InstanceGuid.ToString())</MudTd>
        <MudTd DataLabel="Submitted">@context.Submitted!.Value.ToString("yyyy-MM-dd HH:mm:ss")</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText Class="mb-8" Color="Color.Warning">No penalties found.</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="new[] {50, 100}"/>
    </PagerContent>
</MudTable>


@code
{
    [Parameter, SupplyParameterFromQuery(Name = "search")]
    public string? SearchString { get; set; }

    private MudTable<PenaltyDto>? _table;
    private IEnumerable<PenaltyDto>? _pagedData;
    private string? _searchString;
    private int _totalItems;

    private async Task<TableData<PenaltyDto>> ServerReload(TableState state)
    {
        var paginationQuery = new PaginationDto
        {
            Page = state.Page,
            PageSize = state.PageSize,
            SortLabel = state.SortLabel,
            SortDirection = (int)state.SortDirection,
            SearchString = _searchString
        };

        var statistics = await Http.GetFromJsonAsync<StatisticDto>("/api/Statistic");
        var data = await Http.PostAsJsonAsync("/api/Penalty/All", paginationQuery);
        var result = await data.Content.ReadFromJsonAsync<List<PenaltyDto>>();

        _pagedData = result!.ToArray();
        _totalItems = statistics!.PenaltyCount!.Value;

        return new TableData<PenaltyDto> {TotalItems = _totalItems, Items = _pagedData};
    }

    private void OnSearch(string text)
    {
        _searchString = text;
        _table!.ReloadServerData();
    }
}
