@page "/Players/{Identity}"

<PageTitle>@_title | Profile | Ban Hub</PageTitle>

<RadzenCard>
    @if (_loading)
    {
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
    }
    else
    {
        @if (_player is null)
        {
            <RadzenText TextStyle="TextStyle.DisplayH4" Text="Profile not found!" class="rz-mb-0"/>
            <RadzenText TextStyle="TextStyle.Body1" Text="Provided identity doesn't exist." class="rz-mb-0"/>
        }
        else
        {
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center"
                         Gap="0.4rem" class="rz-mb-4 rz-mx-1">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenText TextStyle="TextStyle.DisplayH4" Text="@_player.UserName" class="rz-base-50 rz-mb-0"/>

                    <RadzenBadge BadgeStyle="BadgeStyle.Warning" Shade="Shade.Lighter" IsPill="true" Variant="Variant.Flat"
                                 Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px" Text="@_gameName"/>
                    <RadzenBadge BadgeStyle="BadgeStyle.Primary" Shade="Shade.Lighter" IsPill="true" Variant="Variant.Flat"
                                 Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px" Text="@_guid"/>
                    @if (_player.IpAddress is not null)
                    {
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Shade="Shade.Lighter" IsPill="true" Variant="Variant.Flat"
                                     Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px" Text="@_player.IpAddress"/>
                    }
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    @if (_player.ChatCount > 10)
                    {
                        <RadzenBadge BadgeStyle="@GetSentimentColour(_player.ChatSentimentScore)" Shade="Shade.Lighter" IsPill="true" 
                                     Variant="Variant.Flat" Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px" Text="@GetSentimentText(_player.ChatSentimentScore)"/>
                    }
                    @if (_player.WebRole is not WebRole.User)
                    {
                        <RadzenBadge BadgeStyle="BadgeStyle.Info" Shade="Shade.Lighter" IsPill="true" Variant="Variant.Flat"
                                     Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px" Text="@($"Web {_player.WebRole}")"/>
                    }
                    @if (_player.CommunityRole is not CommunityRole.User)
                    {
                        <RadzenBadge BadgeStyle="BadgeStyle.Info" Shade="Shade.Lighter" IsPill="true" Variant="Variant.Flat"
                                     Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px" Text="@($"Community {_player.CommunityRole}")"/>
                    }
                    <RadzenBadge BadgeStyle="@(_player.Connected ? BadgeStyle.Success : BadgeStyle.Danger)" Shade="Shade.Lighter"
                                 IsPill="true" Variant="Variant.Flat" Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px"
                                 Text="@(_player.Connected ? "Online" : "Offline")"/>
                    <RadzenBadge BadgeStyle="@(_player.IsGloballyBanned ? BadgeStyle.Danger : BadgeStyle.Info)" Shade="Shade.Lighter"
                                 IsPill="true" Variant="Variant.Flat" Style="padding:0.4rem 0.6rem 0.4rem 0.6rem;font-size:20px"
                                 Text="@(_player.IsGloballyBanned ? "Globally Banned" : "Compliant")"/>
                    @if (_player.IsGloballyBanned)
                    {
                        <TomatoButton Identity="@_player.Identity"/>
                        <a class="rz-button rz-button-md rz-variant-outlined rz-danger rz-shade-default" href="https://discord.gg/UHdqh6ZfjM" target="_blank">Appeal!</a>
                    }
                </RadzenStack>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenRow JustifyContent="JustifyContent.Start">
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@_player.Created.Humanize()"/>
                                <RadzenText class="rz-text-tertiary-color" Text="First Seen"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@(_player.Connected ? "Now" : _player.HeartBeat.Humanize())"/>
                                <RadzenText class="rz-text-tertiary-color" Text="Last Seen"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                    @if (_player.LastConnectedCommunityName is not null)
                    {
                        <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                            <RadzenCard>
                                <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                    <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@_player.LastConnectedServerName"/>
                                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                                        <RadzenText class="rz-text-tertiary-color" Text="Last Seen"/>
                                        <RadzenText class="rz-text-tertiary-color" Text="@_player.LastConnectedCommunityName"/>
                                    </RadzenStack>
                                </RadzenStack>
                            </RadzenCard>
                        </RadzenColumn>
                    }
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@(_player.TotalConnections is 0 ? "--" : _player.TotalConnections.ToString("N0"))"/>
                                <RadzenText class="rz-text-tertiary-color" Text="Total Connections"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@(_player.PlayTime == TimeSpan.Zero ? "--" : _player.PlayTime.Humanize())"/>
                                <RadzenText class="rz-text-tertiary-color" Text="Total Playtime"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@(_player.TotalConnections is 0 || _player.PlayTime == TimeSpan.Zero ? "None" : (_player.PlayTime / _player.TotalConnections).Humanize())"/>
                                <RadzenText class="rz-text-tertiary-color" Text="Average Playtime"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@(_player.ChatCount is 0 ? "--" : _player.ChatCount.ToString("N0"))"/>
                                <RadzenText class="rz-text-tertiary-color" Text="Total Chat Messages"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                                    <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@(_player.NoteCount is 0 ? "--" : _player.NoteCount.ToString("N0"))"/>
                                    <AuthorizeView Roles="@HelperMethods.GetRolesAsString(new[] {WebRole.Admin, WebRole.SuperAdmin}, new[] {CommunityRole.Moderator, CommunityRole.Administrator, CommunityRole.SeniorAdmin, CommunityRole.Owner})">
                                        <Authorized>
                                            <RadzenButton Click="AddNote" Size="ButtonSize.ExtraSmall" Shade="Shade.Lighter" Icon="add"/>
                                        </Authorized>
                                    </AuthorizeView>
                                </RadzenStack>
                                <RadzenText class="rz-text-tertiary-color" Text="Total Notes"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeXL="3" SizeXX="2">
                        <RadzenCard>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                                <RadzenText TextStyle="TextStyle.H5" class="rz-color-primary" Style="margin: 0" Text="@_player.PenaltyCount.ToString("N0")"/>
                                <RadzenText class="rz-text-tertiary-color" Text="Total Penalties"/>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenTabs RenderMode="TabRenderMode.Client">
                    <Tabs>
                        <RadzenTabsItem Text="Penalties">
                            <PlayerProfilePenaltyTable Player="_player"/>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Connections">
                            <PlayerProfileConnectionTable Player="_player"/>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Notes">
                            <PlayerProfileNoteTable Player="_player" Privileged="_privileged"/>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Chat">
                            <PlayerProfileChatTable Player="_player"/>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </RadzenStack>
        }
    }
</RadzenCard>
