@page "/Users"
@using GlobalInfraction.WebCore.Shared.Models
@inject HttpClient Http

<PageTitle>Users</PageTitle>

@if (_bans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Identity</th>
          <th>Reputation</th>
          <th>Online?</th>
          <th>Name</th>
          <th>Infraction Count</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in _bans)
        {
          <tr>
            <td>@item.Identity</td>
            <td>@item.Reputation</td>
            <td>@(item.HeartBeat!.Value + TimeSpan.FromMinutes(5) > DateTimeOffset.UtcNow ? "Online" : "Offline")</td>
            <td>@item.Alias!.UserName</td>
            <td>@(item.Infractions?.Count.ToString() ?? "User has no infractions")</td>
          </tr>
        }
      </tbody>
    </table>
}

@code {
    private List<EntityDto>? _bans;

    protected override async Task OnInitializedAsync()
    {
        _bans = await Http.GetFromJsonAsync<List<EntityDto>>("/api/Entity/All");
      Console.WriteLine();
    }
}
