@page "/Players"
@inject HttpClient Http

<PageTitle>Players | Ban Hub</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true" Class="ml-6 mud-text-secondary">Players</MudText>


<MudTable ServerData="@(new Func<TableState, Task<TableData<EntityDto>>>(ServerReload))" Elevation="2" RowsPerPage="20" Dense="true" Hover="true" @ref="_table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">All players</MudText>
        <MudSpacer/>
        <MudTextField T="string" ValueChanged="@(OnSearch)" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="Id" T="EntityDto">ID</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Name" T="EntityDto">Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Penalty" T="EntityDto">Penalties</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel InitialDirection="SortDirection.Descending" SortLabel="Online" T="EntityDto">Online?</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Created" T="EntityDto">Created</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ID">@context.Identity</MudTd>
        <MudTd DataLabel="Name">
            <a href="/Profile/@context.Identity">
                <MudText Typo="Typo.body2" Color="Color.Info">
                    @context.Alias!.UserName
                </MudText>
            </a>
        </MudTd>
        <MudTd DataLabel="Penalty">@(context.Penalties?.Count != 0 ? context.Penalties!.Count.ToString() : "None")</MudTd>
        <MudTd DataLabel="Online?">
            <MudTooltip Arrow="true" Placement="Placement.Top" Text="@context.HeartBeat!.Value.ToString("yyyy-MM-dd HH:mm:ss")">
                @if (context.HeartBeat + TimeSpan.FromMinutes(5) > DateTimeOffset.UtcNow)
                {
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Info">Online</MudChip>
                }
                else
                {
                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning">Offline</MudChip>
                }
            </MudTooltip>
        </MudTd>
        <MudTd DataLabel="Created">@context.Created!.Value.ToString("yyyy-MM-dd HH:mm:ss")</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText Class="mb-8" Color="Color.Warning">No players found.</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudProgressLinear Color="Color.Success" Rounded="true" Size="Size.Large" Indeterminate="true"/>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="new[] {50, 100}"/>
    </PagerContent>
</MudTable>

@code
{
    [Parameter, SupplyParameterFromQuery(Name = "search")]
    public string? SearchString { get; set; }

    private MudTable<EntityDto>? _table;
    private IEnumerable<EntityDto>? _pagedData;
    private string? _searchString;
    private int _totalItems;

    private async Task<TableData<EntityDto>> ServerReload(TableState state)
    {
        var paginationQuery = new PaginationDto
        {
            Page = state.Page,
            PageSize = state.PageSize,
            SortLabel = state.SortLabel,
            SortDirection = (int)state.SortDirection,
            SearchString = _searchString,
        };

        var statistics = await Http.GetFromJsonAsync<StatisticDto>("/api/v2/Statistic");
        var data = await Http.PostAsJsonAsync("/api/v2/Entity/All", paginationQuery);
        var result = await data.Content.ReadFromJsonAsync<List<EntityDto>>();

        _pagedData = result!.ToArray();
        _totalItems = statistics!.EntityCount!.Value;

        return new TableData<EntityDto> {TotalItems = _totalItems, Items = _pagedData};
    }

    private void OnSearch(string text)
    {
        _searchString = text;
        _table!.ReloadServerData();
    }
}
