<RadzenButton ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" class="rz-ml-4" Click="IncrementCount">
    🤢
    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" IsPill="true" Text="@_tomatoCount.ToString()" class="rz-ml-2"/>
</RadzenButton>

@foreach (var tomato in _tomatoes)
{
    var rotationAnimation = tomato.RotationDirection == "clockwise"
        ? $"rotateClockwise {tomato.RotationSpeed}s infinite linear"
        : $"rotateCounterClockwise {tomato.RotationSpeed}s infinite linear";

    var fallingAnimation = tomato.RotationDirection == "clockwise"
        ? $"dropRotateClockwise {tomato.FallSpeed * 0.75}s linear forwards"
        : $"dropRotateCounterClockwise {tomato.FallSpeed * 0.75}s linear forwards";

    <div class="tomato-wrapper"
         id="@tomato.Id"
         style="@($"left: {tomato.LeftPosition}vw; top: {tomato.TopPosition}vh; animation: {fallingAnimation}")">
        <div class="tomato" style="@($"font-size: {tomato.Size}px; animation: {rotationAnimation}")">
            @(tomato.IsRotten ? "🤢" : "🍅")
        </div>
    </div>
}
